<div class="col-md-12">
  <div class="col-md-3 text-center">
    <!--User profile-->
    <%= image_tag @user.avatar_url(:thumb), :border => "0", :class => "img-circle"%>
    <h3><%= @user.full_name %></h3><!--USER NAME-->
    <h5><%= @user.email %></h5><!--USER EMAIL-->
    <br>
    <!--Navigation-->
    <div>
      <ul class="nav nav-stacked list-group" role="tablist">
        <li role="presentation" class="active">
          <a href="#overview" class="list-group-item" aria-controls="#overview" role="tab" data-toggle="tab">
            <i class="fa fa-user fa-lg fa-fw">
            </i>&nbsp; Overview
          </a>
        </li>
        <li role="presentation">
          <a href="#settings" class="list-group-item" aria-controls="#settings"  role="tab" data-toggle="tab">
            <i class="fa fa-cog fa-lg fa-fw">&nbsp;
            </i>Settings
          </a>
        </li>
        <li role="presentation">
          <%= link_to "Delete account", registration_path(@user), data: { confirm: "Are you sure?" }, method: :delete, :class => "list-group-item" %>
        </li>
        <li role="presentation">
          <%= link_to('Sign Out', destroy_user_session_path, :method => :delete, :class => "list-group-item")%>
        </li>
      </ul>
    </div>
  </div>
  <div class="col-md-9">
    <div class="tab-content">
      <div role="overview" class="tab-pane active" id="overview">
        <!--Items on review and wishlist-->

        <div class="col-md-12">
          <h5>My Stats</h5>
          <div class="panel panel-default">
            <div class="panel-body text-center">
              <div class="col-md-4">
                <h5>Discounts</h5>
                <h3><span class="badge">2</span>&nbsp; Requests</h3>
                <hr>
                <h3><span class="badge">0</span>&nbsp; Available</h3>
              </div>
              <div class="col-md-4">
                <h5>Reviews</h5>
                <h3><span class="badge">10</span>&nbsp; Confirmed Reviews</h3>
              </div>
              <div class="col-md-4">
                <h5>Tier</h5>
                <img src="http://placehold.it/100x100" alt="..." class="img-circle" >
              </div>
            </div>
          </div>
        </div>

        <!--Connect social-->
        <div class="col-md-6">
          <h5>Social Network</h5>
          <div class="panel panel-default">
            <div class="panel-body">
              <ul class="nav nav-stacked text-center">
                <li class="amazon"><a href="#" class="btn btn-warning"><i class="fa fa-amazon fa-lg"></i>&nbsp; Connect your Amazon account</a></li>
                <li class="facebook"><a href="#" class="btn btn-primary"><i class="fa fa-facebook fa-lg"></i>&nbsp; Link Facebook</a></li>
                <li class="twitter"><a href="#" class="btn btn-info"><i class="fa fa-twitter fa-lg"></i>&nbsp; Link Twitter</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div role="settings" class="tab-pane" id="settings">
        <div class="col-md-12">
          <%= render partial: "devise/registrations/edit" %>
        </div>
      </div>
    </div>
  </div>
</div>
